h1 {
	margin-top: 60px;
	font-size: 80px;
	font-family: fantasy;
	font-weight: bold;
	text-align: center;
}

body.skippage {
	background-image:
		url("http://localhost:9999/TravelCommunity/devImg/map.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

a.skip {
	padding: 0;
	font-weight: bold;
	position: relative;
	top: 550px;
	left: 640px;
	background-color: skyblue;
	color: white;
	padding: 15px 25px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
}

a.afreeca {
	position: fixed;
	font-family: fantasy;
	font-weight: bold;
	top: 500px;
	left: 670px;
}

a.s_america {
	position: fixed;
	font-family: fantasy;
	font-weight: bold;
	top: 580px;
	left: 530px;
}

a.n_america {
	font-family: fantasy;
	font-weight: bold;
	position: fixed;
	top: 390px;
	left: 430px;
}

a.europe {
	font-family: fantasy;
	font-weight: bold;
	position: fixed;
	top: 380px;
	left: 650px;
}

a.asia {
	font-family: fantasy;
	font-weight: bold;
	position: fixed;
	top: 380px;
	left: 830px;
}

a.oceania {
	font-family: fantasy;
	font-weight: bold;
	position: fixed;
	top: 620px;
	left: 980px;
}

input.login {
	position: fixed;
	top: 50px;
	right: 120px;
	border-radius: 4px 4px 4px 4px;
}

a.join {
	font-weight: bold;
	position: fixed;
	top: 100px;
	right: 260px;
}

span.phone_num {
	position: fixed;
	top: 80px;
	right: 330px
}

b.bestw {
	position: relative;
	top: 30px;
	left: 100px;
}

.euroword {
	background-color: white;
	font-weight: bold;
	font-family: fantasy;
	text-align: left;
	font-size: 20px;
}

th.totalboard {
	background-color: white;
	font-weight: bold;
	font-family: fantasy;
	text-align: left;
	font-size: 50px;
}

a.button1 {
	padding: 0;
	font-weight: bold;
	position: relative;
	top: 30px;
	left: 500px;
	background-color: skyblue;
	color: white;
	padding: 15px 25px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
}

a.button2 {
	padding: 0;
	font-weight: bold;
	position: relative;
	top: 30px;
	left: 500px;
	background-color: skyblue;
	color: white;
	padding: 15px 25px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
}

a.button3 {
	padding: 0;
	font-weight: bold;
	position: relative;
	top: 30px;
	left: 500px;
	background-color: skyblue;
	color: white;
	padding: 15px 25px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
}

a.button4 {
	padding: 0;
	font-weight: bold;
	position: relative;
	top: 30px;
	left: 500px;
	background-color: skyblue;
	color: white;
	padding: 15px 25px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
}

a.overlap {
	padding: 0;
	position: relative;
	background-color: skyblue;
	color: white;
	padding: 5px 5px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
	font-size: 12px;
}

#Table tr.totalboard {
	font-weight: bold;
	font-family: fantasy;
	text-align: left;
	font-size: 50px;
}

input.gender_man {
	border-radius: 4px 4px 4px 4px;
	width: 50px;
	height: 30px;
}

input.gender_women {
	border-radius: 4px 4px 4px 4px;
	width: 50px;
	height: 30px;
}

a.confirmation {
	padding: 0;
	font-weight: bold;
	background-color: skyblue;
	color: white;
	padding: 13px 18px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
	font-size: 15px;
}

td.welcome {
	font-size: 60px;
	font-weight: 900;
	font-family: fantasy;
}

a.recommandbutton1 {
	padding: 0;
	font-weight: bold;
	background-color: skyblue;
	color: white;
	padding: 5px 5px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
}

a.revisebutton1 {
	padding: 0;
	font-weight: bold;
	background-color: skyblue;
	color: white;
	padding: 5px 5px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
}

a.removebutton1 {
	padding: 0;
	font-weight: bold;
	background-color: skyblue;
	color: white;
	padding: 5px 5px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
}

a.listbutton1 {
	padding: 0;
	font-weight: bold;
	background-color: skyblue;
	color: white;
	padding: 5px 5px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
}

td.membership {
	font-size: 60px;
	font-weight: 900;
	font-family: fantasy;
}

a.cancel {
	padding: 0;
	font-weight: bold;
	background-color: skyblue;
	color: white;
	padding: 13px 18px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
	font-size: 15px;
}

a.rename {
	padding: 0;
	font-weight: bold;
	background-color: skyblue;
	color: white;
	padding: 13px 18px;
	text-decoration: none;
	border-radius: 4px 4px 4px 4px;
	font-size: 15px;
}

span.infoAdress {
	font-size: x-small;
}

select.continent {
	width: 100px;
	height: 40px;
}

.table-hover {
	background: silver;
	width: 75%;
	margin: 50px auto;
}

#logo {
	width: 100px;
	height: 60px;
	margin-bottom: 20px;
}

table.homeTable {
	
}

#Table th{
	text-align : center;
}

#Table td {
	font-family: sans-serif;
	text-align: center;
}

.createArticle {
	background-color: #eee;
	font-size: 15px;
	font-weight: 450;
	font-family: fantasy;
}
.col-lg-2#countryDIV{
	position: relative;
	margin-left: 230px;
	width:530px;
	float: left;
}
select{
	position: relative;
	margin-left:243px;
}